name: Build
run-name: Build (${{ inputs.target }})

on:
  workflow_dispatch:
    inputs:
      target:
        default: default
        description: 'docker buildx bake [TARGET...]'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: List targets
        id: generate
        uses: docker/bake-action/subaction/matrix@v6
        with:
          target: ${{ inputs.target }}

  docker:
    needs:
      - prepare
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.prepare.outputs.matrix) }}
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/use-docker-buildx-bake.yml
    with:
      target: ${{ matrix.target }}
      permit-login: true
      permit-push: ${{ github.event_name != 'pull_request' }}
      permit-cache: true
    secrets: inherit
