name: Scheduled Build

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0' # Every Sunday at midnight

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MAXMINDDB_USER_ID: ${{ secrets.MAXMINDDB_USER_ID }}
  MAXMINDDB_LICENSE_KEY: ${{ secrets.MAXMINDDB_LICENSE_KEY }}

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: List targets
        id: generate
        uses: docker/bake-action/subaction/matrix@v6
        with:
          target: 'schedule'

  docker:
    needs:
      - prepare
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.prepare.outputs.matrix) }}
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/use-docker-buildx-bake.yml
    with:
      target: ${{ matrix.target }}
      permit-login: true
      permit-push: true
      permit-cache: true
    secrets: inherit
